:focus {
  outline: none;
}

button {
  border: 0;
}

html {
  font-size: 9.375vw;
  color: white;
  touch-action: manipulation;
}

h1 {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

.fullscreen {
  position: fixed;
  top: 0;
  min-width: 100%;
}

.box {
  padding-top: 0.66rem;
  padding-left: 0.8rem;
}

.description {
  margin-top: 0.222rem;
  width: 6.24rem;
  letter-spacing: 0.0033rem;
}

.launch {
  width: 3.5833rem;
  height: 0.66rem;
  background-color: white;
  color: black;
  padding-top: 0.02rem;

  letter-spacing: 0.0044rem;
  text-transform: uppercase;
}

.launch:active {
  color: white;
  background-color: black;
}

.video-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  transform: translateX(100%);
  transition: transform 1s ease;
  background-color: black;
}

/* video-list should preserve 16x9 ratio */
.video-list::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: calc(9 / 16 * 100%);
}

.video-list::after {
  content: "";
  display: table;
  clear: both;
}

.video-list-active {
  transform: translateX(0);
}


.video-card {
  flex: 1;
}

.video-card:not(:last-child) .video-info {
  border-right: 1px solid #454545;
}

.video-preview {
  height: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-info {
  height: 50%;
  padding: 0.0944rem 0.1388rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-header {
  font-size: 0.1555rem;
  line-height: 0.1888rem;
  text-transform: uppercase;
  letter-spacing: 0.0055rem;
  height: 0.3776rem;
}

.card-info-separator {
  display: block;
  color: #454545;
  margin: 0.1111rem 0 0.1555rem;
}

.card-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.card-number {
  font-size: 0.4444rem;
  line-height: 1;
}

.card-hint {
  color: #454545;
  align-self: flex-end;
  margin-bottom: 0.04rem;
}

.card-play {
  width: 0.4rem;
  height: 0.4555rem;
  background-image: url('/assets/images/icons/play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.2s ease;
}

.card-play:active {
  transform: scale(1.1);
}


/* text styles */

.fugue {
  font-family: Fugue, system-ui, sans-serif;
  font-weight: normal;
}

.william {
  font-family: William, Times New Roman, Times, serif;
  font-weight: normal;
}

.univers {
  font-family: Univers, system-ui, sans-serif;
  font-weight: normal;
}

.medium-text {
  font-size: 0.2rem;
  line-height: 1.44;
}

.small-text {
  font-size: 0.1111rem;
  line-height: 0.1333rem;
  letter-spacing: 0;
}
